:root{
    --c1-Primary: #30323D;
    --c2-Secondary: #4D5061;
    --c3-Accent1: #BD6B73;
    --c4-Accent2: #A0D2DB;
}

/* CSS General */

body{
    display: grid;
  grid-template-columns: auto auto auto auto;
    background-color: #30323D;
  text-align: center;
  margin:auto;

  
  
}
.container{
    width: 139.5vh;
    height: 100vh;

    background-color: #30323D;
   margin:auto;
}

.miku-box{
    height: auto;
    background-color: #A0D2DB;
  width: 30vh;
  margin-left: auto;
}

.teto-box{
    height: auto;
    background-color: #BD6B73;
margin-right: auto;
  width: 31vh;
}


header {
width:auto;
background-color: #4D5061;

float: right;
}
.links{}

footer {

}


/* CSS Miku */

#miku-body {
    background-color: var(--c4-Accent2);

}

#miku-main {
    display: grid;
    background-color: var(--c1-Primary);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

#miku-general {
    background-color: var(--c2-Secondary);
    height: 200px;
    grid-row: 1 / 6;
    height: 700px;
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#miku-song1{
    width: auto;
    height: auto;
    background-color: var(--c2-Secondary);
    margin-top: 10px;
    margin-right: 10px;
}

#miku-song2{
    width: auto;
    height: auto;
    background-color: var(--c2-Secondary);
    margin-right: 10px;
}

#miku-song3{
    width: auto;
    height: auto;
    background-color: var(--c2-Secondary);
    margin-right: 10px;
}

#miku-song4{
    width: auto;
    height: auto;
    background-color: var(--c2-Secondary);
    margin-right: 10px;
}

#miku-song5{
    width: auto;
    height: auto;
    background-color: var(--c2-Secondary);
    margin-right: 10px;
    margin-bottom: 10px;
}

#miku-pose {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
}

#miku-pose img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
}


/* CSS Teto */