:root{
    --c1-Primary: #30323D;
    --c2-Secondary: #4D5061;
    --c3-Accent1: #BD6B73;
    --c4-Accent2: #A0D2DB;
}

/*Fancy Fonts*/
@font-face {
  font-family: 'Hunters K-Pop'; /* Choose a name for your font */
  src: url('fonts/Hunters_K-Pop.otf') format('opentype'); /* Specify the path and format */
}
@font-face {
  font-family: 'Best In Class'; /* Choose a name for your font */
  src: url('fonts/Best In Class V.1.ttf') format('truetype'); /* Specify the path and format */
}


/* CSS General */

body{
    display: grid;
  grid-template-columns: auto auto auto auto;
    background-color: #30323D;
  text-align: center;
  margin:auto;

  
  
}
.container{
    width: 139.5vh;
    height: 100vh;

    background-color: #30323D;
   margin:auto;
}

.miku-box{
    height: auto;
    background-color: #A0D2DB;
  width: 30vh;
  margin-left: auto;
}

.teto-box{
    height: auto;
    background-color: #BD6B73;
margin-right: auto;
  width: 31vh;
}


header {
width:100%;
height: 75px;
background-color: #4D5061;
margin:auto;
padding: 20px;
}
.links{
    grid:auto auto auto auto;
    font-family: "Hunters K-Pop",Arial, sans-serif;
    margin-top: 15px;
}
.links a{
    font-size: xxx-large;
    text-decoration: none;
    border-right-style: solid;
    border-bottom-style: solid;
    margin: 5px;
}
.links #home-link{
    color: #BD6B73;
    border-color: #A0D2DB;
}
.links #miku-link{
    color: #A0D2DB;
    border-color: #BD6B73;
}
.links #teto-link{
    color: #BD6B73;
    border-color: #A0D2DB;
}

#logo{
    float: left;
    margin:auto;
    width: auto;
    height: 110%;
    border-radius:30px;
}
#title{
 font-family: "Hunters K-Pop",Arial, sans-serif;
 font-size: 50px;
margin-top: 15px;
margin-left: 40px;
float:left;

}


#home-general{
    position: relative;
    right: 83vh;
    bottom: -3vh;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr ;
}




#home-general div{
    background-color: var(--c2-Secondary);
    
    margin: 30px;
}
#text-block{
    width: 60vh;
    height: 730px;
    grid-row: 1/3;
    grid-column: 1;
    font-family: 'Best In Class';
    font-size: xxx-large;
    padding: 90px;
    text-align: center;
    box-sizing: border-box;
}
#miku-headshot{
    grid-row: 1;
    grid-column: 2;  
    height: 35.25vh;  
    width: 60vh;
}

#teto-headshot{
    grid-row: 2;
    grid-column: 2;
}


footer {

}


/* CSS Miku */

#miku-body {
    background-color: var(--c4-Accent2);

}

#miku-main {
    display: grid;
    background-color: var(--c1-Primary);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

#miku-general {
    background-color: var(--c2-Secondary);
    height: 200px;
    grid-row: 1 / 6;
    height: 700px;
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#miku-song1{
    width: auto;
    height: auto;
    background-color: var(--c2-Secondary);
    margin-top: 10px;
    margin-right: 10px;
}

#miku-song2{
    width: auto;
    height: auto;
    background-color: var(--c2-Secondary);
    margin-right: 10px;
}

#miku-song3{
    width: auto;
    height: auto;
    background-color: var(--c2-Secondary);
    margin-right: 10px;
}

#miku-song4{
    width: auto;
    height: auto;
    background-color: var(--c2-Secondary);
    margin-right: 10px;
}

#miku-song5{
    width: auto;
    height: auto;
    background-color: var(--c2-Secondary);
    margin-right: 10px;
    margin-bottom: 10px;
}

#miku-pose {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
}

#miku-pose img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
}


/* CSS Teto */